.btn {
	background-color: #04d58d;
	color: white;
	font-weight: bolder;
	width: 100px;
	padding: 10px;
	border: none;
	border-radius: 10px;
	margin: 10px;
}
.btn:active {
	background-color: #029d67;
}
